.alert
  font-size 1rem
  padding 1em
  color $default
  font-weight 600
  border-radius .3em
  background $gallery

  &--success
    color $success
    background $success-light

  &--info
    color $info
    background $info-light

  &--warning
    color $warning
    background $warning-light

  &--danger
    color $danger
    background $danger-light