.alert
  setRootFontSize()
  padding 1em
  color $recHeader
  font-weight 600
  border-radius .3em
  background $recBackground

  &--success
    color $recSuccess
    background setTintForColor($recSuccess)

  &--information
    color $recInformation
    background setTintForColor($recInformation)

  &--warning
    color $recWarning
    background setTintForColor($recWarning)

  &--danger
    color $recDanger
    background setTintForColor($recDanger)