.button
  setRootFontSize()
  color $recHeader
  border 1px solid currentColor
  border-radius .15em
  outline none
  background transparent
  padding .25em .5em
  display inline-flex
  cursor pointer
  transition color .2s, background .2s, border-color .2s

  &--default
    background $recLightBackground
    border-color $recBorder

    &:hover
      color $recPrimaryDark
      border-color $recDarkBorder
      background $recBackground

  &--secondary
    color $recLightBackground
    background $recSecondaryDark
    border-color $recSecondaryDark

    &:hover
      background $recSuccess
      border-color $recSuccess

  &--primary
    color $recLightBackground
    background $recPrimary
    border-color $recPrimary

    &:hover
      background $recPrimaryDark
      border-color $recPrimaryDark

  &__name
    font-size .6em

  &--small
    setSizeOnPropertyByCurrent('small')

  &--normal
    setSizeOnPropertyByCurrent('normal')

  &--medium
    setSizeOnPropertyByCurrent('medium')

  &--large
    setSizeOnPropertyByCurrent('large')

  &--massive
    setSizeOnPropertyByCurrent('massive')

  min-width 20px
  min-height 20px