.radio
  @extend .switcher

  &__input
    border-radius 50%
    align-items center
    justify-content center

    &::before
      content ''
      font-size 1em
      min-height $sizeable.detail
      min-width @min-height
      background transparent
      border-radius inherit
      transform scale(.7)
      max-height $sizeable.detail
      max-width @max-height

    ~/ input:checked + &::before
      background $recPrimaryDark