/*Миксины которые отвечают за размеры элемента.
  Что-то похожее на вспомогательные классы.*/

small()
  font-size @font-size * $size.small !important

normal()
  font-size @font-size * $size.normal !important

medium()
  font-size @font-size * $size.medium !important

large()
  font-size @font-size * $size.large !important

massive()
  font-size @font-size * $size.massive !important