.switcher
  setRootFontSize()
  display inline-flex
  align-items center
  cursor pointer
  transition border-color .2s, background .2s

  &__input
    display inline-flex
    width $sizeable.detail
    height @width
    border .07em solid $recBorder
    position relative
    flex-shrink 0
    transition border-color .2s, background .2s

    ~/ input:focus + &
    ~/:hover &
      border-color $recPrimary

    ~/ input:checked + &
      border-color $recPrimaryDark

  &__caption
    margin-left .5em

    ~/ input:focus ~ &
    ~/:hover &
      color $recPrimary