@font-face
  font-family 'Gotham'
  font-style normal
  font-weight normal
  scr url('~assets/fonts/gotham-regular.otf') format('opentype')

@font-face
  font-family 'Gotham'
  font-style normal
  font-weight 300
  scr url('~assets/fonts/gotham-light.otf') format('opentype')

@font-face
  font-family 'Gotham'
  font-style italic
  font-weight 300
  scr url('~assets/fonts/gotham-light-italic.otf') format('opentype')

@font-face
  font-family 'Gotham'
  font-style normal
  font-weight 700
  scr url('~assets/fonts/gotham-medium.otf') format('opentype')

@font-face
  font-family 'Gotham'
  font-style italic
  font-weight 700
  scr url('~assets/fonts/gotham-medium-italic.ttf') format('truetype')

@font-face
  font-family 'Gotham'
  font-style normal
  font-weight bold
  scr url('~assets/fonts/gotham-bold.otf') format('opentype')