//https://gist.github.com/declandewet/7220997
//http://stylus-lang.com/docs/hashes.html
//Возможно здесь можно использовать хеш таблицы для лучшей модульности

/* Палитра цветов */
$malachite = #0dbf66
$jade = #00bf79
$clear-day = #e7fff7
$royal-blue = #4c6fF5
$blue-violet = #4852b8
$lily-white = #e6faff
$lightning-yellow = #fcc419
$fair-pink = #ffeee6
$burnt-sienna = #ed5556
$lavender-blush = #ffe7ed
$mine-shaft = #475259
$regent-gray = #8595a6
$heather = #adbdcc
$gallery = #f5f7fb
$botticelli = #cfdaE6
$white = #ffffff

/* Размеры */
$size-normal = 1em//20px
$size-root-component = 2rem

/* Функциональные переменные */
$default = $mine-shaft
$success = $malachite
$success-light = $clear-day
$info = $royal-blue
$info-light = $lily-white
$warning = $lightning-yellow
$warning-light = $fair-pink
$danger = $burnt-sienna
$danger-light = $lavender-blush