//https://gist.github.com/declandewet/7220997
//http://stylus-lang.com/docs/hashes.html
//Возможно здесь можно использовать хеш таблицы для лучшей модульности

/* Палитра цветов */
$color = {
  royalBlue: #5c67e6,
  blueViolet: #4952b8,
  caribbeanGreen: #00e09b,
  jade: #00bf79,
  white: #ffffff,
  catskillWhite: #f5f7fa,
  botticelli: #cfdae6,
  heatherLight: #bfccd9,
  heather: #adbdcc,
  regentGray: #8595a6,
  mineShaft: #475259,
  shark: #1e2225,
  malachite: #0dbf66
  cornflowerBlue: #4c6ef5,
  lightningYellow: #fcc419,
  burntSienna: #ed5556
}

/* Размеры */
$divideSizeable = {}

$sizeable = {
  root: 2,
  detail: 1em,
  small: .8,
  normal: 1,
  medium: 1.2,
  large: 1.4,
  massive: 1.6
}

/* Различные показатели */
$ratio = {
  tint: 70%,
  rgba: 50%
}

/* Функциональные переменные */
$recPrimary = $color.royalBlue
$recPrimaryDark = $color.blueViolet
$recSecondary = $color.caribbeanGreen
$recSecondaryDark = $color.jade
$recLightBackground = $color.white
$recBackground = $color.catskillWhite
$recBorder = $color.botticelli
$recDarkBorder = $color.heatherLight
$recPlaceholder = $color.heather
$recBodyText = $color.regentGray
$recHeader = $color.mineShaft
$recDarkBackground = $color.shark
$recSuccess = $color.malachite
$recInformation = $color.cornflowerBlue
$recWarning = $color.lightningYellow
$recDanger = $color.burntSienna